<!-- Go to top button -->
<button id="toTopButton" class="btn btn-square" title="Go to top" aria-label="Button to scroll to top of the page"
    style="background-color: rgb(128, 128, 128, 0.5);
            border-radius: 4px;
            bottom: 10px;
            color: black;
            cursor: pointer;
            display: none;
            position: fixed;
            right: 10px;
            z-index: 1000;
            width: 40px;
            height: 40px;">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><!----> <!----> <!---->
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!----> <!---->
    </svg>
</button>
